{% extends 'location/base.html' %}
{% load static %}

{% block header_scripts %}
{% endblock header_scripts %}

{% block content %}
<div class="row mb-4">
    <div class="custom-control custom-radio mx-5">
        <input type="radio" id="today" name="dateFilterRadio" class="custom-control-input" checked>
        <label class="custom-control-label" for="today">Today</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="filter_days" name="dateFilterRadio" class="custom-control-input">
        <label class="custom-control-label" for="filter_days">Filter Days</label>
    </div>
</div>
<div class="mb-4" id="date_filter" style="display: none;">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" id="date_range">
    </div>
    <input type="button" value="Check" class="btn btn-primary" id="filterSubmitButton">
    <span id="resultNotFoundMessage" style="display: none; color: red;">No data available for this date range</span>
</div>

<div class="content-section">
    <div id="map" style="width: 100%; height: 600px"></div>
</div>
<div class="calendar"></div>
{% endblock content %}

{% block footer_scripts %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script defer
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_API_KEY}}&callback=initMap"></script>

    <script>
        function afterRequestProcessData(request){

            let locationMarkers = []
            let latLongs = []
            let locationPaths = []

            let locations = JSON.parse(request.responseText)
            
            console.log(locations);
            
            // if no result found
            if (locations.length < 1){
                $("#resultNotFoundMessage").show()
                return
            }
            else{
                $("#resultNotFoundMessage").hide()
            }

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 18,
                center: {
                    lat: locations[0].latitude,
                    lng: locations[0].longitude
                },
                // gestureHandling: 'cooperative' // disable zooming in page scroll
            });

            const icons = {
                start: {
                    icon: "http://maps.google.com/mapfiles/kml/shapes/hiker.png",
                },
                end: {
                    icon: "http://maps.google.com/mapfiles/kml/shapes/ranger_station.png",
                }
            };

            locations.forEach(function (location, index) {

                // console.log(location);

                const latLong = {}
                latLong['lat'] = location.latitude
                latLong['lng'] = location.longitude

                latLongs.push(latLong)

                let locationMarker;

                if (index == 0){
                    locationMarker = new google.maps.Marker({
                        position: latLong,
                        map,
                        icon: icons.end.icon,
                        title: new Date(location.created_time).toString(),
                    });
                }

                else if (index == (locations.length - 1)){
                    locationMarker = new google.maps.Marker({
                        position: latLong,
                        map,
                        icon: icons.start.icon,
                        title: new Date(location.created_time).toString(),
                    });
                }

                else{
                    locationMarker = new google.maps.Marker({
                        position: latLong,
                        map,
                        title: new Date(location.created_time).toString(),
                    });
                }
                

                locationMarkers.push(locationMarker);
            })

            const locationPath = new google.maps.Polyline({
                path: latLongs,
                geodesic: true,
                strokeColor: "#FF0000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
            });
            locationPath.setMap(map);
            locationPaths.push(locationPath)

        }
    </script>

    <script>
        function loadTodayData(){
    
            const request = new XMLHttpRequest();
            request.open("GET", '/api/locations/');
            request.send();
    
            request.onload = () => {
                afterRequestProcessData(request)
            }
        }
    </script>
    
    <script>
        function loadRangeData(){

            const date_range = $("#date_range").val()
            
            const request = new XMLHttpRequest();
            request.open('POST', '/api/locations/');
            const csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            request.setRequestHeader("Content-Type", "application/json");
            request.setRequestHeader("X-CSRFToken", csrf_token);
            
            const data = JSON.stringify({
                date_range: date_range
            })
            
            request.send(data);
            
            request.onload = () => {
                afterRequestProcessData(request)
            }

        }
    </script>

    <script>
        "use strict";

        $('input[id="date_range"]').daterangepicker();

        function initMap() {

            if($('#today').is(':checked')){
                $("#date_filter").hide()
                loadTodayData();
            }

            $("input[name='dateFilterRadio']").on('change', function(){
                if($('#today').is(':checked')){
                    $("#date_filter").hide()
                    $("#resultNotFoundMessage").hide()
                    loadTodayData();
                }
                else{
                    $("#date_filter").show()
                }
            })

        }

        $("#filterSubmitButton").on('click', (e) => {
            console.log("Filter button clicked");
            e.preventDefault();
            loadRangeData();
        })

    </script>


{% endblock footer_scripts %}