{% extends 'location/base.html' %}

{% block content %}

home page
{% endblock content %}

{% block footer_scripts %}
    <!-- <script>
        $("#id_snippet_title").addClass("form-control")
        $("#id_snippet_body").addClass("form-control")
        $("#id_language").addClass("form-control")
        $("#id_password").addClass("form-control")
        $("#password_div").hide()
        $("#id_is_private").addClass("form-check-input")

        $("#id_is_private").on('change', function(event){
            const checked = event.target.checked
            checked ? $("#password_div").show() : $("#password_div").hide()
        })
    </script> -->
{% endblock footer_scripts %}